<body>
    <div class="container-fluid">
      <div class="row min-vh-100">
        <div class="col-xl-5 col-lg-6 col-md-8 p-5 p-lg-4 mx-auto d-flex align-items-center">
          <div>
            <p> <img class="img" src="/assets/logo/logo.png" alt="Template Logo"></p>
            <h1 class="text-uppercase">Página de construcción</h1>
            <p class="lead">Estamos trabajando para ofrecerle nuestro sitio web</p>
          </div>
        </div>
        <div style="background-image: url('img/pexels-photo-40120.jpg');" class="col-xl-6 col-lg-5 col-md-4 intro-right"></div>
      </div>
    </div>
